/*全局样式*/
*{ margin:0; padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0);box-sizing:border-box;}
body,html{min-height:100%;}
input,button,select,textarea{outline:none}
li{list-style:none}
img{border:0; max-width: 100%; height: auto;}
textarea{resize:none}
body,div,span,ul,li,p,h1,h2,h3,h4,h5,h6,img,input, textare{ margin:0; padding:0; }
body{ font-size:14px;font-family:微软雅黑;}
body{ word-wrap : break-word ;word-break:keep-all; min-height: 100%; }
a{ text-decoration:none; cursor:pointer;}
a:hover{ text-decoration:none;}
a{ outline:none;}/*去除超链接虚线框*/
a:active{star:expression(this.onFocus=this.blur());}/*去除ie下超链接虚线框*/
a:focus{ outline:0;}/*去除火狐下超链接的虚线*/
a{ text-decoration:none;}
.fl{float:left}
.fr{float:right}
.clearfloat{clear:both; height:0px; font-size:1px; line-height:0px;}/*清除浮动*/
h1,h2,h3,h4,h5,h6{font-weight:normal;}
.mr0{margin-right:0 !important;}
.textCenter{text-align:center !important;}
body{margin:0;padding:0;width:100%;color:#333333;font:12px/18px "tahoma","Microsoft YaHei","arial","SimHei","SimSun";}
img{border:0;}
a{color:#333;text-decoration: none}

input[type="submit"]{ font-size:15px;font-weight:600;color:#333333;border:0;font-family:"Microsoft YaHei","SimHei","SimSun";text-shadow:0 -1px 0 #535353;margin:5px 5px 0 0;padding:0 0 3px 0;display:block;width:106px;height:35px;text-align:center;line-height:33px;text-indent:20px;}
input[type="button"]{font-size:15px;font-weight:600;color:#333333;border:0;text-shadow:0 -1px 0 #535353;margin:5px 5px 0 0;padding:0 0 3px 0;display:block;width:106px;height:35px;text-align:center;line-height:33px;text-indent:20px;}
input.button_button{margin:0;width:106px;height:35px;border:0;font-size:15px;font-weight:600;color:#333333;text-shadow:0 -1px 0 #535353;padding:0 0 3px 0;text-align:center;line-height:33px;text-indent:20px;cursor:pointer;}
ol,ul{list-style:none outside none;margin:0px;padding:0;}
hr{color:#FF7700;width:200px;height:2px;float:left;}
textarea{font-size:12px;background-color:#ffffff;border:solid 1px #888888;}
fieldset{clear:both;padding:0 0 1em 1em;margin:0 0 30px .3em;border:1px solid #888888;}
legend{margin:0 0;padding:2px;font-size:10px;border:0px ;text-transform:capitalize;color:#000000;}

/* 自动生成文章页class view */
.news-details .view{
	width:100%;margin-top:30px;
}

.w{
	width:1200px;margin:0 auto;
}

/* 首页主体内容 */
.banner{
	width:100%;height:595px;position:relative;
}
.banner img{
	width:100%;height:100%;
}
.banner-title{
	position:absolute;left:50%;margin-left:-600px;bottom:30px;
}
.banner-title h2{
	font-size:36px;font-weight:700;color:#fff;
}
.js{
	height:80px;line-height:80px;background:#ffbf81;
}
.js p{
	color:#fff;font-size:30px;text-align:right;
}
.navBox{
	position:absolute;top:0;left:50%;margin-left:-600px;
}
.nav{
	background:url(../images/nav-bg.png) no-repeat;background-size:100% 100%;padding:30px !important;
	width:300px;
}
.nav .logo{
	margin-bottom:50px;text-align:center;
}
.nav ul{
	margin-bottom:28px;
}
.nav ul li{
	line-height:40px;font-size:20px;
}
.nav ul li a{
	display:block;color:#fff;
}
.nav ul li:hover a{
	color:#ed2b25;text-indent:30px;transition:all .5s;
}
.nav p i{
	margin:0 10px;color:#fff;vertical-align:top;
}
.nav p a{
	color:#fff;font-size:16px;
}
.containers{
	width:1200px;
}
div[class*="col-"] {
	padding:0 20px;
}
.top{
	margin:30px 0 50px;
}
.top-le h2{
	font-size:30px;color:#ff8104;line-height:45px;font-weight:700;margin-bottom:0;
}
.top-le h2 a{
	padding:5px 10px;display:block;background:url(../images/title-bg.png) no-repeat;background-size:100% 100%;
	color:#fff;font-size:16px;font-weight:normal;float:right;line-height:1;margin-top:10px;
}
.top-le ul li{
	padding:20px 0;border-bottom:1px solid #ddd;overflow:hidden;
}
.top-le ul li .sPic{
	padding-left:0;
}
.top-le ul li .sPic img{
	width:100%;
}
.top-le ul li .sFont{
	padding-right:0;
}
.top-le ul li .sFont h3{
	font-size:20px;color:#666;font-weight:700;margin-bottom:10px;margin-top:0;
}
.top-le ul li .sFont p{
	font-size:18px;color:#b6b6b6;margin-bottom:15px;
}
/* .top-le ul li .sFont>a{
	display:block;color:#ff8104;font-size:16px;text-align:right;padding-right:20px;
	background:url(../images/icon05.png) no-repeat right center;background-size:13px 12px;
} */
.mores {
	display:block;color:#ff8104;font-size:16px;text-align:right;padding-right:20px;
	background:url(../images/icon05.png) no-repeat right center;background-size:13px 12px;
}
.top-ri h2{
	font-size:30px;color:#ff8104;line-height:45px;font-weight:700;margin-bottom:0;
}
.top-ri ul li{
	overflow:hidden;background:url(../images/icon06.png) no-repeat right center;background-size:100%  100%;
	display:flex;align-items:center;justify-content:center;margin-top:20px;
}
.top-ri ul li .dPic{
	display:flex;align-items:center;justify-content:center;
}
.top-ri ul li .dFont{
	border-left:2px solid #ffd493
}
.top-ri ul li .dFont h3{
	color:#fff;font-size:20px;font-weight:700;margin-bottom:15px;
}
.top-ri ul li .dFont p{
	font-size:16px;color:#000;margin-bottom:15px;
}
.bottom{
	margin-bottom:50px;
}
.bottom h2{
	font-size:30px;color:#ff8104;line-height:45px;margin-bottom:20px;font-weight:700;
}
.slidePic.swiper-container{
	padding:10px 0;
}
.slidePic .swiper-slide .slide-content{
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .07);padding:10px;border-radius:6px;background:#f2f2f2;
}
.picT{
	position:relative;
}
.picT img{
	width:100%;
}
.picT h3{
	position:absolute;bottom:10px;left:20px;color:#fff;font-size:20px;
}
.slide-content p{
	padding:20px 10px;line-height:34px;font-size:18px;background:#fff;margin:0;
}
.slide-content p a{
	color:#ff8104
}
.slideBox{
	position:relative;
}
.slideBox .swiper-button-prev,.slideBox .swiper-button-next{
	width:40px;height:40px;margin-top:-20px;
}
.slideBox .swiper-button-prev{
	left:-45px;background:url(../images/prev.png) no-repeat;background-size:40px 40px;
}
.slideBox .swiper-button-next{
	right:-45px;background:url(../images/next.png) no-repeat;background-size:40px 40px;
}
/* 通用列表 */
.pageH{
	background:url(../images/page-bg.png) no-repeat;background-size:100% 100%;padding:10px 0;
}
.page-head h4{
	text-align:right;margin-top:10px;
}
.page-head h4 a {
    color: #fff;
    font-size: 16px;
}
.page-head h4 i {
    margin: 0 10px;
    color: #fff;
    vertical-align: top;
}
.page-head p{
	margin-bottom:20px;
}
.page-nav ul{
	display: flex;margin-bottom:0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.page-nav ul li a{
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}
.page-nav ul li a:hover{
	color:#ed2b25
}
.crumb{
	background:#eeeeee
}
.crumb .breadcrumb{
	background-color: #eeeeee;padding-left:0;border-radius:0;margin-bottom:0;
}
.newsBox{
	overflow:hidden;padding-top:30px;
}
.newsBar{
	width:20%;
}
.newsBar ul li{
	margin-bottom:3px;
}
.newsBar ul li a{
	font-size:20px;color:#999;display:block;background:#efefef;padding:20px 10px;
}
.newsBar ul li.on a{
	background:url(../images/icon06.png) no-repeat;background-size:100% 100%;font-weight:700;color:#fff;
}
.newsBar ul li:hover a{
	background:url(../images/icon06.png) no-repeat;background-size:100% 100%;font-weight:700;color:#fff;
}
.news-list{
	width:75%;
}
.news-list ul.list-unstyled li{
	line-height:40px;font-size:16px;overflow:hidden;
}
.news-list ul.list-unstyled li a{
	display:block;width:70%;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;
	float:left;padding-left:13px;position:relative;color:#333;
}
.news-list ul.list-unstyled li a::before{
	content:"";
	width:4px;height:4px;background:#ddd;
	position:absolute;top:50%;left:0;margin-top:-2px;
}
.news-list ul.list-unstyled li span{
	float:right;color:#999;
}
.news-list ul.list-unstyled li:nth-child(6n){
	border:1px dashed #ff8104;background:#;margin:20px 0;
}
.page{
	text-align:center;
}
/* 通用内容页面 */
.news-details h2{
	font-size:30px;color:#ff8104;font-weight:700;margin:30px 0;
}
.news-details h4{
	font-size:16px;color:#999;padding-bottom:20px;border-bottom:1px dashed #ff8104;
}
.news-details h4 span{
	margin-right:20px;
}
.news-details p{
	font-size:18px;line-height:40px;margin-bottom:20px;word-break: keep-all;
}
.content{
	margin-top:50px;
}
.news-details p img{
	margin:0 auto;display: inherit;width:80%;
}
.footer{
	padding:20px 0;background:#ff8104;
}
.footer h2{
	color:#fff;font-size:20px;font-weight:700;
}
.footer p{
	margin:10px 0;font-size:16px;color:#fff;
}

@media screen and (max-width:1200px) {
	
	.banner{height:auto}
	.banner img{height:auto}
	.top-le h2,.top-ri h2,.bottom h2{font-size:24px;}
	.top{margin:0;}
	/* 移动端导航栏 */
	.m-mask {
		position: fixed;
		bottom: 0;
		z-index: 99999;
		display: none;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: .5;
	}
	.m-wapnav-body {
		position: fixed;
		top: 0;
		right: -70%;
		z-index: 99999;
		width: 70%;
		max-width: 400px;
		height: 100%;
		background: #ff8104;
	}
	.m-wapnav-body a {
		display: block;color:#fff;padding-left:15px;
		width: 100%;
		height: 55px;
		font-size: 18px;
		line-height: 55px;
		
		border: 0;
		border-bottom: 1px solid #fff;
	}
	.m-wapnav-body a:hover{color:#fff;}
	.m-wapnav-body a i{
		width: 30px;display:none;
		height: 25px;
		vertical-align: middle;
		margin-top: -4px;
		margin-left:40px;margin-right:30px;
	}

	.m-wap-search {
		padding: 0 0 2px 15px;
		margin: 15px 10px 0 10px;
		background: #fff;
		border-radius: 20px;
	}
	.m-wap-search .u-wap-sctext {
		display: inline-block;
		width: 80%;
		height: 24px;
		border: 0;
		outline: 0;
	}
	.m-wap-search .u-wap-scbtn {
		float: right;margin:0;
		width: 14%;
		height: 24px;
		color: #083ea6;
/* 		background: url(../images/2018cssgaj_sous_hui.png) no-repeat 1px 3px; */
		background-size: 20px 20px;
		border: 0;
		border-radius: 0 20px 20px 0;
		outline: 0;
	}
	.search{display:none;}
	.mobileDis{
		display:block !important;background:#ff8104
	}
	.mobileHeader{
/* 		background: url(../images/banner.png) no-repeat; */
		background-size: 100% 100%;
	}
	.mobileHeader .headerM{
		padding:10px 0 10px 16px;overflow:hidden;
	}
	.mobileHeader .headerM .mobile-logo{
		max-width:80%;float:left;
	}
	.mobileHeader .headerM .mobile-logo a{
		display:block;color:#fff;font-size:26px;font-weight:700;
	}
	.mobileHeader .headerM .mobile-logo img{
		max-width:100%;
	}
	.mobileHeader .headerM .wapNavBox{
		width:25%;float:right;padding:0 24px;box-sizing:border-box;
	}
	.mobileHeader .headerM .wapNav{
		width: 35px;float:right;
		height: 30px;
		padding: 0 6px 0 6px;
		border-radius: 5px;
		outline: 0;
	}
	.mobileHeader .headerM .wapNav div{
		float: left;
		width: 100%;
		height: 2px;
		margin-top: 6px;
		background: #fff;
		border-radius: 4px;
	}
	
	.w,.containers{width:100%;padding:0 10px;}
	.js{display:none;}
	.navBox{display:none;}
	.banner-title{display:none;}
	.top-le{width:100%;}
	.top-le ul li .sFont,.top-le ul li .sPic{padding:0;}
	.top-le ul li .sPic{margin-bottom:10px;}
	.top-ri{float:left;width:100%;}
	.top-ri ul li .dFont{padding-left:20px;}
	.slideBox{padding:0 50px;}
	.slideBox .swiper-button-next{right:0;}
	.slideBox .swiper-button-prev{left:0;}
	 div[class*="col-"]{padding:0;} 
	.row{margin:0 !important;}
	
	/* 列表 */
	.newsBox,.news-details{padding:0;}
	.newsBar{
		width:100%;margin-top:20px;
	}
	.news-list{
		width:100%;margin-top:0;
	}
	.newsBar ul li{
		float:left;margin:0 5px 5px;
	}
	.newsBar ul li a{
		border-radius:5px;padding:6px 12px;font-size:16px;
	}
	/* 内容 */
	.news-details h2{
		font-size:24px;
	}
}